@font-face {
    font-family: myfont;
    src: url(Gistesy.ttf);
}
@font-face {
    font-family: Roxfont;
    src: url(RoxboroughCF.ttf);
}

@font-face {
    font-family: Opensan;
    src: url(OpenSans-Bold.ttf);
}
body {
    margin: 0;
    padding: 0;
    font-family:thefont; 
    box-sizing: border-box;
    background: #A89E94;
}
    .background{
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        min-height: 100vh;
        background-image: url("image1.jpg");
        background-repeat: repeat;
        background-size: cover;
        z-index: -1;
        filter: blur(5px);
    }

.content{
    margin-top: 200px;
    text-align: center;
}
*{
        margin: 0px;
        padding: 0px;
        box-sizing:border-box ;
        font-family: thefont;
    }
.container
{
    position: relative;
    min-height: 100vh;
}

.container h1{
    font-size: 40px;
    font-family: Opensan;
    text-shadow: 2px 2px 5px #fff;
    font-weight:normal;
    padding:15px;
    text-align:center;
    text-transform: capitalize;
}
.container .image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}
.container .image-container .image{
    height: 500px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba (0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
}
.container .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.container .image-container .image:hover img{
    transform: scale(1.1);
}

.container .popup-image{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.container .popup-image span{
    position: absolute;
    top: 0; left: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}
.container .popup-image img{
    position: absolute;
    top: 5%; left: 33%;
    transform: translate(5%,5%);
    border-radius: 5px;
    width: 30%;
    object-fit: cover;
}
@media (max-width:750px){
    .container .popup-image img {
        width: 95%;
    }
}
.container .image-container figcaption{
    text-align: center;
    font-family: Opensan;
    font-style: bold;
}

.buttons-container1 h2 {
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
}

.btn1 {
    display: inline-block;
    background: rgba(222, 184, 135, 0.452);
    text-decoration: none;
    width: 190px;
    height: 35px;
    margin: 24px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 510px;
    margin-left: -278px;
}

.btn1.test-completed1::after,
.btn1.test-completed1::before {
    content: "BIRTHDAY BOUQUET";
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.5;
    transition: all 400ms;
    top: 0;
}

.btn1.btn1.test-completed1:hover::after {
    top: -36px;
}

.btn1.test-completed1::before {
    content: "BOOK";
    top: 36px;
}

.btn1.btn1.test-completed1:hover::before {
    top: 0;
}

.buttons-container2 h2 {
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
}

.buttons-container2 h2 {
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
}

.btn2 {
    display: inline-block;
    background: rgba(222, 184, 135, 0.452);
    text-decoration: none;
    width: 190px;
    height: 35px;
    margin: 24px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 510px;
    margin-left: -278px;
}

.btn2.test-completed2::after,
.btn2.test-completed2::before {
    content: "MASON JAR";
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.5;
    transition: all 400ms;
    top: 0;
}

.btn2.btn2.test-completed2:hover::after {
    top: -36px;
}

.btn2.test-completed2::before {
    content: "BOOK";
    top: 36px;
}

.btn2.btn2.test-completed2:hover::before {
    top: 0;
}

.buttons-container3 h2 {
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
}

.btn3 {
    display: inline-block;
    background: rgba(222, 184, 135, 0.452);
    text-decoration: none;
    width: 190px;
    height: 35px;
    margin: 24px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 510px;
    margin-left: -278px;
}

.btn3.test-completed3::after,
.btn3.test-completed3::before {
    content: "SUCCULENT GARDEN";
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.5;
    transition: all 400ms;
    top: 0;
}

.btn3.btn3.test-completed3:hover::after {
    top: -36px;
}

.btn3.test-completed3::before {
    content: "BOOK";
    top: 36px;
}

.btn3.btn3.test-completed3:hover::before {
    top: 0;
}

.buttons-container4 h2 {
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
}

.btn4 {
    display: inline-block;
    background: rgba(222, 184, 135, 0.452);
    text-decoration: none;
    width: 190px;
    height: 35px;
    margin: 24px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 510px;
    margin-left: -278px;
}

.btn4.test-completed4::after,
.btn4.test-completed4::before {
    content: "CAKE FLOWER";
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.5;
    transition: all 400ms;
    top: 0;
}

.btn4.btn4.test-completed4:hover::after {
    top: -36px;
}

.btn4.test-completed4::before {
    content: "BOOK";
    top: 36px;
}

.btn4.btn4.test-completed4:hover::before {
    top: 0;
}

.buttons-container5 h2 {
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
}

.btn5 {
    display: inline-block;
    background: rgba(222, 184, 135, 0.452);
    text-decoration: none;
    width: 190px;
    height: 35px;
    margin: 24px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 510px;
    margin-left: -278px;
  }
  
  .btn5.test-completed5::after,
  .btn5.test-completed5::before {
    content: "PLANTER BASKET";
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.5;
    transition: all 400ms;
    top: 0;
  }
  
  .btn5.btn5.test-completed5:hover::after {
    top: -36px;
  }
  
  .btn5.test-completed5::before {
    content: "BOOK";
    top: 36px;
  }
  
  .btn5.btn5.test-completed5:hover::before {
    top: 0;
  }
