@font-face {
    font-family: myfont;
    src: url(Gistesy.ttf);
}
@font-face {
    font-family: Roxfont;
    src: url(RoxboroughCF.ttf);
}

@font-face {
    font-family: Opensan;
    src: url(OpenSans-Bold.ttf);
}

@font-face {
    font-family: Kaps;
    src: url(expanded.ttf);
}

.background{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url("image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(5px);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;
    font-family: thefont;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    position: absolute;
    text-align: right;
    margin-left: 500px;
    margin-top: 40px;
    background: none;
    
}

.navbar a{
    text-decoration: none;
    text-align: right;
    margin: 25px;
    color: black;
    font-size: 20px;
    font-family: Opensan;
}

.navbar a:hover{
    color: burlywood;
}

.newnav{
    text-align: center;
    text-decoration: none;
    margin-top: -20%;
}

.newnav a{
    margin: 130px;
    text-decoration: none;
    color: black;
    font-family: Opensan;
    cursor: pointer;
}

.newnav a:hover{
    color: burlywood;
}
.container h3{
    text-decoration: none;
    font-family: myfont;
    margin-top: 15px;
    margin-left: 75px;
    font-size: 60px;
}

.card {
    background: rgba(63, 63, 63, 0.349);
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    width: 25%;
    height: 70%;
    margin-left: 85px;
    margin-top: 40px;
    justify-content: center;
    overflow: hidden;
    float: left;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.527);
}

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }

  .card .content h4{
    text-align: center;
    font-family: Opensan;
    padding: 5px;
  }



  .content h4{
    text-decoration: none;
    color: black;
    font-family: Opensan;
    cursor: pointer;
    font-size: 180%;
    
  }

.content h5{
    font-size: 500%;
    margin-left: 25px;
    margin-top: -30px;
    margin-bottom: 10px;
    font-family: Kaps;
    color: black;
}

.content p{
    text-align: center;
    font-family: Opensan;
    margin-top: 10px;
    margin-bottom: 5px;
    color: black;
}

.rating ion-icon {
    position:relative;
    color: goldenrod;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 11%;
    font-size: 20px;
    float: center;
}
  